# Redis / Upstash
KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=

# API Keys (Optional - Add your own)
GROQ_API_KEY=

# Supabase (Optional)
NEXT_PUBLIC_DEV_SUPABASE_REDIRECT_URL=
